@model ProyectoInde.Models.UsuarioxunidadGeneradora

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioxunidadGeneradora</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUnidadGeneradoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUnidadGeneradoraNavigation.UnidadGeneradora1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUsuarioNavigation.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodUsuarioXunidadGeneradora">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
