@model ProyectoInde.Models.ControlGeneralPtqUnidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ControlGeneralPtqUnidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionAceiteRegulador11261)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionAceiteRegulador11261)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionAceiteControlPilotoReg11262)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionAceiteControlPilotoReg11262)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionAceiteRefrigeradorReg11263)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionAceiteRefrigeradorReg11263)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempAceiteReguladorC1180)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempAceiteReguladorC1180)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempCojineteGuiaTurbinaC2722)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempCojineteGuiaTurbinaC2722)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAeEntradaEnfriadorCGBar26434)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAeEntradaEnfriadorCGBar26434)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QAeCGLMinX20E2727)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QAeCGLMinX20E2727)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAeSalidaEnfriadorCGBar26435)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAeSalidaEnfriadorCGBar26435)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAeSalidaEnfriadorCG27362)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAeSalidaEnfriadorCG27362)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAceiteCGSalidaEnfriadorC27331)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAceiteCGSalidaEnfriadorC27331)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAceiteCGEntradaEnfriadorC27331)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAceiteCGEntradaEnfriadorC27331)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlujoAceiteCGTurbinaLMinx5E2727)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlujoAceiteCGTurbinaLMinx5E2727)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlujoAeCCombinado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlujoAeCCombinado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlujoAeGenerador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlujoAeGenerador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAguasAbajoVeBar654)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAguasAbajoVeBar654)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAguasArribaVeBar853)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAguasArribaVeBar853)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAguasArribaVeBar651)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAguasArribaVeBar651)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAceiteMandoVeBar652)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAceiteMandoVeBar652)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndNivelDesfogueNormalAnormal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndNivelDesfogueNormalAnormal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PBombaAeBar1894)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PBombaAeBar1894)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAeGeneradorBar2740)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAeGeneradorBar2740)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAeTurbinaC27361)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAeTurbinaC27361)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAeTurbinaBar26431)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAeTurbinaBar26431)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAlKgCm226432)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAlKgCm226432)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodHora2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodHora2Navigation.CodHora2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUnidadGeneradoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUnidadGeneradoraNavigation.UnidadGeneradora1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodControlGeneralPtqUnidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
