@model ProyectoInde.Models.ControlParametroUnidad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ControlParametroUnidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevanadosEstatorCDato8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevanadosEstatorCDato8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteEmpujeGeneradorCDato1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteEmpujeGeneradorCDato1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteEmpujeGeneradorCDato2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteEmpujeGeneradorCDato2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteGuiaGeneradorCDato1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteGuiaGeneradorCDato1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteGuiaGeneradorCDato2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteGuiaGeneradorCDato2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalienteEnfriadoresGeneradorCDato1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalienteEnfriadoresGeneradorCDato1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalienteEnfriadoresGeneradorCDato2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalienteEnfriadoresGeneradorCDato2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalienteEnfriadoresGeneradorCDato3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalienteEnfriadoresGeneradorCDato3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalienteEnfriadoresGeneradorCDato4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalienteEnfriadoresGeneradorCDato4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalienteEnfriadoresGeneradorCDato5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalienteEnfriadoresGeneradorCDato5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalienteEnfriadoresGeneradorCDato6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalienteEnfriadoresGeneradorCDato6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaSalidaAguaEnfriamientoCDato1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaSalidaAguaEnfriamientoCDato1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaSalidaAguaEnfriamientoCDato2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaSalidaAguaEnfriamientoCDato2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AguaSalienteEnfriadorCojinetesGenC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AguaSalienteEnfriadorCojinetesGenC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AceiteCojineteGeneradorC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AceiteCojineteGeneradorC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteGuiaTurbinaC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteGuiaTurbinaC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaudalAguaSelloLMx20E2639)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaudalAguaSelloLMx20E2639)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionAguaSelloKgCm226422)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionAguaSelloKgCm226422)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperaturaSelloEje2276)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperaturaSelloEje2276)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteEmpujeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteEmpujeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireLlegadaEnfriadorCNo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireLlegadaEnfriadorCNo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireLlegadaEnfriadorCNo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireLlegadaEnfriadorCNo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CojineteGuiaSuperiorC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CojineteGuiaSuperiorC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalidaEnfriadorCNo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalidaEnfriadorCNo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AireSalidaEnfriadorCNo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AireSalidaEnfriadorCNo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionAguaSelloEje26432)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionAguaSelloEje26432)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionAguaSelloEje26431)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionAguaSelloEje26431)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotenciaMw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotenciaMw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodHoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodHoraNavigation.CodHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodUnidadGeneradoraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodUnidadGeneradoraNavigation.UnidadGeneradora1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodControlParametroUnidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
